*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.container-fluid{
  padding: 0;
}
#home{
  height: 100vh;
  background: url("images/homeimage3.jpg") no-repeat;
  background-size: 100% 100%;
}
.navbar-brand{
  padding: 10px 40px;
  color: white;
  font-size: 145%;
}
nav a:hover{
  color: white;
}
nav button div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}
.navbar-toggler{
  padding: 0;
}
.navbar-nav{
  padding: 10px 40px;
}
.navbar-expand-md .navbar-nav .nav-link{
  color: white;
  padding: 0;
  margin-left: 40px;
  position: relative;
}
.navbar-nav .nav-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.22s ease-in-out;
}
.navbar-nav .nav-link:hover:before {
  visibility: visible;
  width: 100%;
}
.hometext{
  position: absolute;
  top: 55%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
}
.hometext h1{
  font-size: 300%;
}


@media (max-width:768px) {
  #home{
    background-size: 100% 40%;
  }
  .navbar-expand-md .navbar-nav .nav-link{
    margin: 10px 0;
  }
  .navbar-nav{
    padding: 10px;
  }
  .navbar-brand{
    padding: 5px;
  }
}
